<header class="sec header_sec" id="home">
    <div class="container">
        <app-logo></app-logo>
        <app-search-form class="search_form_box"></app-search-form>
        <app-mobile-menu></app-mobile-menu>

        <div class="header_right">
            <ul *ngIf="!loggedUser" class="menu">
                <li><a routerLink="{{ROUTES.LOGIN}}">Вход</a></li>

                <li><a routerLink="{{ROUTES.REGISTER}}">Регистрация</a></li>
            </ul>

            <ul *ngIf="loggedUser" class="menu">
                <li class="">
                    <span>{{loggedUser.email}} <fa-icon icon="chevron-down"></fa-icon></span>

                    <ul class="submenu">
                        <li><a routerLink="{{ROUTES.CREATE}}">Създай рецепта</a></li>
                        <li><a routerLink="{{ROUTES.MY_RECIPES}}">Моите рецепти</a></li>
                        <li><a routerLink="{{ROUTES.FAVORITES_RECIPES}}">Любими рецепти</a></li>
                        <li><a routerLink="{{ROUTES.PROFILE}}">Профил</a></li>
                    </ul>
                </li>

                <li><span (click)="logout()">Изход</span></li>
            </ul>
        </div>
    </div>
</header>