.footer_sec {
    padding: 50px 0;
    background-color: #f5f5f5;
    font-size: 18px;
    line-height: 28px;
    color: #7a7a7a;
  }
  
  .footer_sec .container,
  .copyrights .container {
    text-align: center;
  }
  
  .copyrights {
    padding: 20px 0 10px 0;
    background-color: #66a55f;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
  }
  
  .copyrights a {
    display: inline-block;
    margin-right: 50px;
    color: #fff;
  }
  
  .copyrights a:hover {
    text-decoration: underline;
  }
  
  .copyrights a:last-child {
    margin-right: 0;
  }