<button (click)="setOpen()" class="btn_mobile_menu">
    <fa-icon icon="bars"></fa-icon>
</button>

<div class="mobile_menu" [class.open]="isOpen">
    <button (click)="setOpen()" class="close_mobile_menu">
        <fa-icon icon="times"></fa-icon>
    </button>

    <nav>
        <ul *ngIf="!isLogged">
            <li><a href="/">Начало</a></li>
            <li><a href="/recipes/Салати">Салати</a></li>
            <li><a href="/recipes/Супи">Супи</a></li>
            <li><a href="/recipes/Основни ястия">Основни ястия</a></li>
            <li><a href="/recipes/Десерти">Десерти</a></li>
            <li><a href="/login">Вход</a></li>
            <li><a href="/register">Регистрация</a></li>
        </ul>

        <ul *ngIf="isLogged">
            <li><a href="/">Начало</a></li>
            <li><a href="/recipes/Салати">Салати</a></li>
            <li><a href="/recipes/Супи">Супи</a></li>
            <li><a href="/recipes/Основни ястия">Основни ястия</a></li>
            <li><a href="/recipes/Десерти">Десерти</a></li>
            <li><a href="/create">Създай рецепта</a></li>
            <li><a href="/myRecipes">Моите рецепти</a></li>
            <li><a href="/myFavorites">Любими рецепти</a></li>
            <li><a href="/profile">Профил</a></li>
            <li><span>Изход</span></li></ul>
    </nav>
</div>
