<footer class="sec content_sec footer_sec">
    <div class="container">
        <app-logo></app-logo>

        <p>
            Наслаждавай се на вкусната храна със съветите на Spatulas.bg.<br> 
            Готви с хиляди кулинари от всички краища на страната!
        </p>

        <p>
            Свържете се с нас: <a href="mailto:spatulas@info.bg">spatulas@info.bg</a>
        </p>
        
    </div>
</footer>

<section class="sec copyrights">
    <div class="container">
       <div class="ib">
           2020 Spatulas Всички права запазени 
       </div>
    </div>
</section>
