<a href="" class="item_img">
    <img src="assets/images/1.jpg" alt="Ризото с тиква">
</a>

<div class="item_details">
    <a href="" class="title">
        Ризото с тиква
    </a>

    <div class="date">
        01 Юли 2020
    </div>

    <div class="short_content">
        Не само уникално апетитно на вид, но и истински вкусно!...
    </div>

    <div class="item_meta">
        <span class="cell posted_by">
            <fa-icon icon="user" class="fa"></fa-icon>
            <span>admin</span>
        </span>

        <span class="cell post_likes">
            <fa-icon icon="heart" class="fa"></fa-icon>
            <span>0</span>
        </span>
    </div>
</div>