<section class="sec content_sec">
    <div class="container tcenter">
        <h2 class="page_title">
            <span>Вход</span>
        </h2>

        <form action="" method="POST" class="user_form">
            <div class="input_row">
                <label class="lbl">
                    Имейл
                    <span class="tred">*</span>
                </label>

                <input type="text" name="userMail" class="input_text" required>
            </div>

            <div class="input_row">
                <label class="lbl">Парола</label>
                <input type="password" name="password" class="input_text" required>
            </div>

            <div class="input_row">
                <button type="submit" value="login" class="btn">Влез</button>
            </div>

            <div className={mainStyles.input_row}>
                Все още нямаш профил? <a routerLink="/register">Регистрирай се</a>
            </div>
        </form>
    </div>
</section>
