<app-index-banner></app-index-banner>

<section class="sec content_sec">
    <div class="container">
        <h2 class="page_title">
            <span>
                Нови рецепти
            </span>
        </h2>

        <app-items-list [sortCriterion]="'createdDate'" [maxElements]="8"></app-items-list>
    </div>
</section>

<app-index-info></app-index-info>

<section class="sec content_sec">
    <div class="container">
        <h2 class="page_title">
            <span>
                Най-харесвани рецепти
            </span>
        </h2>

        <app-items-list [sortCriterion]="'likes'" [maxElements]="8"></app-items-list>
    </div>
</section>


