<section class="sec content_sec">
    <div class="container tcenter">
        <h2 class="page_title">
            <span>Регистрация</span>
        </h2>

        <form [formGroup]="registerForm" (ngSubmit)="register()" class="user_form">

           <!-- <div *ngIf="myForm.get('currentPassword').touched && myForm.get('currentPassword').invalid">
                <div *ngIf="myForm.get('currentPassword').errors.required">Current password is required!</div>
                <div *ngIf="myForm.get('currentPassword').errors.minlength">Current password should be at least 3
                    symbols long!</div>
            </div>-->

            <div class="input_row">
                <div *ngIf="getFormControls.username.touched && getFormControls.username.errors?.required" 
                      class="errorMsg">
                    {{customErrors.requredUserName}}
                </div>

                <label class="lbl">
                    Потребителско име
                    <span class="tred">*</span>
                </label>

                <input type="text" class="input_text" formControlName="username">
            </div>

            <div class="input_row">
                <div *ngIf="getFormControls.email.touched && getFormControls.email.errors?.required"
                    class="errorMsg">
                    {{customErrors.requredEmail}}
                </div>

                <div *ngIf="getFormControls.email.touched && !getFormControls.email.errors?.required && !getFormControls.email.valid"
                    class="errorMsg">
                    {{customErrors.invalidEmail}}
                </div>

                <label class="lbl">
                    Имейл
                    <span class="tred">*</span>
                </label>

                <input type="email" class="input_text" formControlName="email">
            </div>

            <div class="input_row">
                <div *ngIf="getFormControls.password.touched && getFormControls.password.errors?.required"
                    class="errorMsg">
                    {{customErrors.requiredPassword}}
                </div>

                <div *ngIf="getFormControls.password.touched && getFormControls.password.errors?.minlength"
                    class="errorMsg">
                    {{customErrors.invalidPasswordLength}}
                </div>

                <label class="lbl">
                    Парола
                    <span class="tred">*</span>
                </label>

                <input type="password" class="input_text" formControlName="password">
            </div>

            <div class="input_row">
                <div *ngIf="getFormControls.rePassword.touched && getFormControls.password?.value !==  getFormControls.rePassword?.value"
                    class="errorMsg">
                    {{customErrors.matchingPasswords}}
                </div>

                <label class="lbl">Повтори паролата
                    <span class="tred">*</span>
                </label>

                <input type="password"  class="input_text" formControlName="rePassword">
            </div>

            <div class="input_row">
                <button type="submit" value="login" class="btn">Регистрирай се</button>
            </div>
        </form>
    </div>
</section>